

.button {
  border-radius: 40% !important;
  font-size: 32px;
  margin-left: 72px;
  border-style:solid;
  border-color: black;
  color: white;
  border-width: 2px;
  background-color: green;
  position: absolute;
  margin-top: 95px;
}

#display {
  position: absolute;
  font-family: 'Original Surfer', cursive;
  margin-left: 90px;
  margin-top: 192px;
}

#title {
  font-family: 'Original Surfer', cursive;
  position: absolute;
  font-size: 30px;
  margin-left: 38px;
  margin-top: 40px;
}

#turn {
  position: absolute;
  background: #330000;
  color: red;
  font-family: courier;
  font-size: 18px;
  height: 30px;
  width: 120px;
  margin-left: 55px;
  margin-top: 160px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}

#outer-circle {
  background: #385a94;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  position: relative;
  border-style: solid;
  border-width: 8px;
  margin: 0 auto;
  margin-top: 60px;
}

#green {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 250px 0 0 0;
  background: darkgreen;
  top: 50%;
  left: 50%;
  margin: -250px 0px 0px -250px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
}

#red {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 0 250px 0 0;
  background: darkred;
  top: 50%;
  left: 50%;
  margin: -250px 0px 0px 0px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
}

#yellow {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 0 0 0 250px;
  background: goldenrod;
  top: 50%;
  left: 50%;
  margin: 0px -250px 0px -250px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
}

#blue {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 0 0 250px 0;
  background: darkblue;
  top: 50%;
  left: 50%;
  margin: 0px 0px -250px 0px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
}

#inner-circle {
  position: absolute;
  background: lightgray;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border-style: solid;
  border-width: 8px;
  top: 50%;
  left: 50%;
  margin: -125px 0px 0px -125px;
  box-sizing: border-box;
}
